.endereco{
    border: solid 1px;
}

.titulo-endereco{
    background-color: #024673;
    color: #fff;
    padding: 10px;
    border-bottom: solid 3px #002945;

}

.back{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 50px;
     height: 50px;
   }
 
   @media (max-width:600px){
     .back{
       visibility: hidden;
     }
   }