.background-titulo{
    background-color: #024673;
    color: #fff;    
    border-bottom: solid 3px #002945;
    height: 6vh;
    width: 100%;
}
.oferta-titulo{
    text-align: center;
    font-size: 1.3rem;
}