/* styles.css (ou styles.module.css se estiver usando módulos de estilo) */
@media (max-width:500px){
.event-title {
    text-align: center;
    font-size: 1.3rem;
  }
  
  .event-table {
    border-collapse: collapse;
   width: 80%;
   overflow-y:auto;
  }
  
  .event-header {
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background-color: #8d9693;
  }
  
  .event-row {
    border: 1px solid black;
  }
  
  .event-data {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 0.87rem;
  }
  
  .event-row:nth-child(even) {
    background-color: rgb(0,0,26, 0.7);
    color: white;
  }
  
  .event-row:hover:nth-child(odd) {
    background-color: #1c09ea;
    color: #fff;
  }
}